{% extends 'auth/base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}

<!-- a little message -->
<br />
<h2 class="text-center">We don't GAF how you identify. Update your deets here.</h2>
<br />

<!-- user registration form -->
<!-- This is ugly as hell, just build a form manually instead of all this nonsense -->
<!-- See the login form for a right-way example -->
<div class="col-md-6 offset-md-3">
  <form method="POST" action="{% url 'change_password' %}">
    {% csrf_token %}

    <!-- Check for errors -->
    {% if form.errors %}
      <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
          <small><sup>x</sup></small>
        </button>
          <!-- {{ message }} -->
          <p>Correct the following and try again:</p>
          <!-- print out all of the errors -->
          {% for field in form %}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
          {% endfor %}
      </div>
    {% endif %}

    <!-- Place the form from the 'edit_profile' view -->
    {{ form.as_p }}

    <input type="submit" value="Change Password" class="btn btn-info">

  </form> <!-- end registration form -->
</div>  <!-- End the div -->

{% endblock %}